flows.json
[{"id":"3eefe87c.aa6828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"117e5717.150691","type":"debug","z":"3eefe87c.aa6828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":200,"wires":[]},{"id":"5aadb439.589724","type":"tcp in","z":"3eefe87c.aa6828","name":"","server":"server","host":"","port":"12345","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":200,"wires":[["e6d998a7.0f9ff8"]]},{"id":"e6d998a7.0f9ff8","type":"function","z":"3eefe87c.aa6828","name":"Parser","func":"var str = msg.payload;\nstr = str.split('{')[1];\nstr = str.split('}')[0];\nmsg.payload = \"{ \" + str + \" }\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["684476f5.d9c21"]]},{"id":"684476f5.d9c21","type":"json","z":"3eefe87c.aa6828","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":200,"wires":[["aed08694.7da798","af11ac30.4e7448","195d3cb6.dc2e43"]]},{"id":"918676e2.f8144","type":"http request","z":"3eefe87c.aa6828","name":"IFTTT POST ","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/pMcH-c3KrgwLPqAU5Tx193WIQI6dCmtXt3sqrJBIlXc","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":160,"wires":[["117e5717.150691"]]},{"id":"aed08694.7da798","type":"function","z":"3eefe87c.aa6828","name":"IFTTT Notification","func":"var obj = msg.payload;\nmsg.event = \"iot_mote\";\nmsg.payload = {\"value1\": obj.other_id, \"value2\": obj.my_id, \"value3\": \"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":140,"wires":[["918676e2.f8144"]]},{"id":"af11ac30.4e7448","type":"function","z":"3eefe87c.aa6828","name":"IFTTT Telegram","func":"var obj = msg.payload;\nmsg.event = \"iot_mote_2\";\nmsg.payload = {\"value1\": obj.other_id, \"value2\": obj.my_id, \"value3\": \"\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["918676e2.f8144"]]},{"id":"195d3cb6.dc2e43","type":"function","z":"3eefe87c.aa6828","name":"Telegram","func":"var obj = msg.payload;\n\nmsg.tgAPI = \"1737368095:AAGfP5JZ_yJ-16UtfmDHUnaCyhAaMnx8FM4\";\nmsg.tgText = \"[API] Mote \" + obj.other_id + \" is too close to mote \" + obj.my_id +\"!\";\nmsg.tgChatId = \"-1001575228061\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["6593e01c.e5275"]]},{"id":"6593e01c.e5275","type":"http request","z":"3eefe87c.aa6828","name":"Telegram Request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.telegram.org/bot{{tgAPI}}/sendMessage?chat_id={{tgChatId}}&text={{tgText}}","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":260,"wires":[["117e5717.150691"]]}]